/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./buttons.css";
/* ===========================================
    Modern CSS Reset
=========================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --brand-color-primary: #2823de;
  --brand-color-secondary: #7e7aeb;
  --text-color-primary: #181d27;
  --text-color-secondary: #535862;
  --bg-primary-color: #53389e;
  --btn-border-radius:8px;
  --spacing-6xl: 48px;
}

html {
  font-size: 100%; /* Base size, typically 16px */
  line-height: 1.5;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* ===========================================
   Utility Classes
=========================================== */
 body .modal__open{
  overflow: hidden;
}


/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Flexbox Utilities */
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

/* Text Alignment */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* Spacing Utilities */
/* Margin Utilities */
.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}

/* Padding Utilities */
.p-0 {
  padding: 0;
}
.pt-0 {
  padding-top: 0;
}
.pr-0 {
  padding-right: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}

.pt-1 {
  padding-top: 0.25rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pl-1 {
  padding-left: 0.25rem;
}

/* Display Utilities */
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}

.section-title {
  font-size: 36px;
}

.section-subtitle {
  font-size: 20px;
  color: #535862;
}

/* Responsive Images */
.img-responsive {
  max-width: 100%;
  height: auto;
}

/* HERO SECTION */
.hero-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  color: #181d27;
}

.hero-subtitle {
  margin-top: 1rem;
  font-size: 15px;
  color: #535862;
  margin-bottom: 1.5rem;
}

.hero-rhs img {
  width: 100%;
  height: 300px;
  margin-top: 3rem;
}

@media (min-width: 767px) {
  .hero-title {
    font-size: clamp(40px, 5vw, 60px);
  }

  .hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 2rem;
  }
  .hero-rhs img {
    margin-top: -30px;
    margin-right: -20px;
    /* height: 650px; */
    /* width: 500px; */
    /* position: fixed; */
  }
}

/* METRICS SECTION */
.metrics-wrapper {
  margin: 64px 0;
  text-align: center;
  padding: 40px 24px;
  background-color: #fafafa;
  border-radius: 16px;
}

.metrics-header {
  margin-bottom: 20px;
}

.metrics-list {
  background-color: #fafafa;
  border-radius: 16px;
}

.metrics-list .list-item {
  margin: 16px 0;
}

.metrics-list .list-title {
  font-size: 48px;
  line-height: 60px;
  color: #7f56d9;
}

.metrics-list .list-subtitle {
  font-size: 18px;
  font-weight: 600;
  color: #181d27;
}

@media (min-width: 645px) {
  .metrics-wrapper {
    background-color: transparent;
  }
  .metrics-list > ul {
    display: flex;
    justify-content: center;
    column-gap: clamp(32px, 5vw, 60px);
    align-items: center;
  }

  .metrics-list {
    padding: clamp(20px, 5vw, 40px);
  }

  .metrics-list .list-item {
    text-align: center;
    min-width: 150px;
  }

  .metrics-list .list-title {
    font-size: clamp(40px, 5vw, 60px);
  }
}

/* FEATURES */
.features-header {
  margin-bottom: 48px;
}

.features-list-item {
  height: auto;
  width: 100%;
  padding: 20px;
  background-color: #fafafa;
  margin-bottom: 16px;
  border-radius: 6px;
}

.features-list-icon {
  margin-bottom: 40px;
  width: 48px;
  height: 48px;
  background-color: rebeccapurple;
  border-radius: 6px;
}

.features-list-title {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color-primary);
}

.features-list-subtitle {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-secondary);
}

@media (min-width: 650px) {
  .features-header {
    margin-bottom: 48px;
  }
  .features-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .features-list-item {
    margin: 0px;
  }
}

@media (min-width: 1024px) {
  .features-header {
    margin-bottom: 64px;
  }
  .features-list {
    display: flex;
  }
}

/* PROJECTS SECTION */

.projects-header {
  margin-bottom: 30px;
}

.projects-wrapper {
  background-color: #fafafa;
  padding: 48px 0;
}
.projects-header {
  text-align: center;
}

.projects-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  column-gap: 30px;
}

.project-card {
  background-color: transparent;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 16px;
  min-height: 250px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
  position: relative;
  border: 1px solid red;
  cursor: pointer;
}

.project-card-header {
  position: absolute;
  bottom: 20px;
  overflow: hidden;
  height: 30px;
  transition: all 400ms ease-in-out;
}

.project-card:hover .project-card-header {
  height: 100px;
}

.project-card img {
  position: absolute;
  object-fit: cover;
  width: inherit;
  height: 100%;
  top: 0;
  border-radius: 16px;
  left: 0;
}

.project-card-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 12px;
}

.project-card-subtitle {
  font-size: 16px;
  margin-bottom: 24px;
}

/* COMMON HERO BANNER */

.common-hero__banner {
  padding: 48px 0;
  text-align: center;
}

.common-hero__mark {
  color: #6941c6;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

.common-hero__title {
  font-size: 36px;
  line-height: 44px;
  color: var(--text-color-primary);
  margin: 16px 0;
}

.common-hero__subtitle {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color-secondary);
}

/* ABOUT US PAGE */

.teams-header {
  margin-bottom: 48px;
}

.teams-card-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.teams-card {
  background-color: #fafafa;
  padding: 30px;
  border-radius: 16px;
}

.teams-title {
  font-size: 22px;
  color: var(--text-color-primary);
  margin-bottom: 8px;
  line-height: 32px;
}

.teams-alias {
  color: #6941c6;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.teams-card__desc {
  height: 150px;
  font-size: 15px;
  overflow: auto;
  margin-bottom: 16px;
  color: var(--text-color-secondary);
}

.teams-card__contact {
  margin-bottom: 16px;
}

/* OUR VALUES SECTION */

.values-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 36px;
}

.values-header {
  margin-bottom: 24px;
}

.values-list {
  text-align: center;
}

.values-list .values-icon {
  width: 40px;
  height: 40px;
  margin-inline: auto;
  background-color: salmon;
  border-radius: 6px;
}

.values-title {
  font-size: 18px;
  color: var(--text-color-primary);
  line-height: 28px;
  margin: 12px 0;
}

.value-subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color-secondary);
}

@media (min-width: 767px) {
  .values-list-wrapper {
    gap: 48px;
  }
}
