---
import Layout from "../layouts/Layout.astro";
import HeroImage from "../../public/images/hero-img.jpg";
import { Image } from "astro:assets";
// import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <section class="hero-container">
      <div class="container hero-wrapper">
        <div class="hero-lhs">
          <h1 class="hero-title">Engineering Excellence, Built to Last.</h1>
          <p class="hero-subtitle">
            Robust Consulting Engineers specializes in delivering innovative and
            efficient structural solutions. From designing RCC & PEB structures
            to conducting structural audits and project management.
          </p>

          <div class="hero-btn-wrap">
            <button class="btn btn-primary">Contact</button>
            <button class="btn btn-outline">Know More</button>
          </div>
        </div>
        <div class="hero-rhs">
          <Image src={HeroImage} alt="Hero Section Image" />
        </div>
      </div>
    </section>

    <section class="container">
      <div class="metrics-wrapper">
        <div class="metrics-header">
          <h2 class="section-title">Experience with Excellence</h2>
          <p class="section-subtitle">Proven performance, trusted partnerships, and measurable results across every project we undertake.

</p>
        </div>

        <div class="metrics-list">
          <ul>
            <li class="list-item">
              <h4 class="list-title">100+</h4>
              <span class="list-subtitle">Projects</span>
            </li>
            <li class="list-item">
              <h4 class="list-title">20+</h4>
              <span class="list-subtitle">Clients</span>
            </li>
            <li class="list-item">
              <h4 class="list-title">4+</h4>
              <span class="list-subtitle">Years of Experience</span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="container features-wrapper">
      <div>
        <div class="features-header">
          <h4 class="section-title">Our Services</h4>
          <p class="section-subtitle">We specialize in delivering end-to-end consultancy services for structural projects of every scale.</p>
        </div>

        <div>
          <ul class="features-list">
            <li class="features-list-item">
              <div>
                <div class="features-list-icon">icon</div>
                <div>
                  <h5 class="features-list-title">
                    Structural Engineering Services
                  </h5>
                  <p class="features-list-subtitle">
                  We offer expert structural design for RCC, PEB, and formwork systems across residential, commercial, and industrial projects. Every design is tailored for strength, safety, and compliance with IS codes.
                  </p>
                </div>
              </div>
            </li>
            <li class="features-list-item">
              <div>
                <div class="features-list-icon">icon</div>
                <div>
                  <h5 class="features-list-title">
                    Estimation & Material Calculation
                  </h5>
                  <p class="features-list-subtitle">
                  Accurate BBS, concrete quantity estimation, repair cost forecasting, and mix design services help you plan better, reduce waste, and stay within budget from the start.
                  </p>
                </div>
              </div>
            </li>
            <li class="features-list-item">
              <div>
                <div class="features-list-icon">icon</div>
                <div>
                  <h5 class="features-list-title">
                    Maintenance, Repair Services
                  </h5>
                  <p class="features-list-subtitle">
                  We conduct structural audits using NDT/SDT techniques for buildings, bridges, and culverts, followed by actionable repair and strengthening plans compliant with safety standards.
                  </p>
                </div>
              </div>
            </li>
            <li class="features-list-item">
              <div>
                <div class="features-list-icon">icon</div>
                <div>
                  <h5 class="features-list-title">Project Management</h5>
                  <p class="features-list-subtitle">
                  Our project management services ensure smooth execution, timeline control, and coordination across stakeholders — from planning to final delivery.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="projects-wrapper">
      <div class="container">
        <div class="projects-header">
          <h4 class="section-title">Explore our diverse range of projects</h4>
          <p class="section-subtitle">
          From residential buildings to government infrastructure, explore our diverse project portfolio spanning structural design, audits, and detailed consultancy.
          </p>
        </div>
        <div class="projects-card-wrapper">
          <div class="project-card">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
            <div class="project-card-header">
              <h6 class="project-card-title">Aspen Height</h6>
              <p class="project-card-subtitle">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi,
                eaque.
              </p>
              <a href="http://"> View More </a>
            </div>
          </div>
          <div class="project-card">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
            <div class="project-card-header">
              <h6 class="project-card-title">Aspen Height</h6>
              <p class="project-card-subtitle">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi,
                eaque.
              </p>
              <a href="http://"> View More </a>
            </div>
          </div>
          <div class="project-card">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
            <div class="project-card-header">
              <h6 class="project-card-title">Aspen Height</h6>
              <p class="project-card-subtitle">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi,
                eaque.
              </p>
              <a href="http://"> View More </a>
            </div>
          </div>
        </div>

        <div class="projects-btn-wrap">
          <button class="btn btn-primary">Contact</button>
          <button class="btn btn-outline">Know More</button>
        </div>
      </div>
    </section>
  </main>
</Layout>
