---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <section class="container hero-wrapper">
      <div class="hero-lhs">
        <h1 class="hero-title">Engineering Excellence, Built to Last.</h1>
        <p class="hero-subtitle">
          Robust Consulting Engineers specializes in delivering innovative and
          efficient structural solutions. From designing RCC & PEB structures to
          conducting structural audits and project management.
        </p>

        <div class="hero-btn-wrap">
          <button class="btn btn-primary">Contact</button>
          <button class="btn btn-outline">Know More</button>
        </div>
      </div>
      <div class="hero-rhs">
        <div>
          <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
        </div>
      </div>
    </section>

    <section class="container">
      <div class="metrics-wrapper">
        <div class="metrics-header">
          <h2 class="section-title">Experience with Excellence</h2>
          <p class="section-subtitle">We have all you need.</p>
        </div>

        <div class="metrics-list">
          <ul>
            <li class="list-item">
              <h4 class="list-title">100+</h4>
              <span class="list-subtitle">Projects</span>
            </li>
            <li class="list-item">
              <h4 class="list-title">20+</h4>
              <span class="list-subtitle">Clients</span>
            </li>
            <li class="list-item">
              <h4 class="list-title">4+</h4>
              <span class="list-subtitle">Years of Experience</span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="container features-wrapper">
      <div>
        <div class="features-header">
          <h4 class="section-title">Our Services</h4>
          <p class="section-subtitle">These are the services we provide</p>
        </div>

        <div>
          <ul class="features-list">
            <li class="features-list-item">
              <div>
                <div class="features-list-icon">icon</div>
                <div>
                  <h5 class="features-list-title">
                    Structural Engineering Services
                  </h5>
                  <p class="features-list-subtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Architecto quo facere corrupti doloribus vero, nesciunt
                    voluptate quisquam impedit animi quibusdam.
                  </p>
                </div>
              </div>
            </li>
            <li class="features-list-item">
              <div>
                <div class="features-list-icon">icon</div>
                <div>
                  <h5 class="features-list-title">
                    Estimation & Material Calculation
                  </h5>
                  <p class="features-list-subtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Architecto quo facere corrupti doloribus vero, nesciunt
                    voluptate quisquam impedit animi quibusdam.
                  </p>
                </div>
              </div>
            </li>
            <li class="features-list-item">
              <div>
                <div class="features-list-icon">icon</div>
                <div>
                  <h5 class="features-list-title">
                    Maintenance, Repair Services
                  </h5>
                  <p class="features-list-subtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Architecto quo facere corrupti doloribus vero, nesciunt
                    voluptate quisquam impedit animi quibusdam.
                  </p>
                </div>
              </div>
            </li>
            <li class="features-list-item">
              <div>
                <div class="features-list-icon">icon</div>
                <div>
                  <h5 class="features-list-title">Project Management</h5>
                  <p class="features-list-subtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Architecto quo facere corrupti doloribus vero, nesciunt
                    voluptate quisquam impedit animi quibusdam.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</Layout>
