---
import Layout from "../../layouts/Layout.astro";
import "./about-us.css";
---

<Layout>
  <section class="container">
    <div class="common-hero__banner">
      <span class="common-hero__mark">About Us</span>
      <h1 class="common-hero__title">Know More About Us</h1>
      <p class="common-hero__subtitle">Our Journey, team and all the details</p>
    </div>
  </section>

  <section class="container our-journery__wrapper">
    <div class="our-journey__header">
      <h4 class="section-title">Our Journey</h4>
      <p class="section-subtitle">
        A growing legacy shaped by technical expertise, impactful projects, and
        client trust.
      </p>
    </div>

    <div class="our-journey__content">
      <p class="our-journey__content-para">
        RCE began with a shared vision among passionate civil engineers to
        reshape the consultancy landscape through precision, transparency, and a
        commitment to quality. Over the years, we've successfully executed over
        75 structural and audit projects, spanning everything from residential
        towers to government infrastructure, growing into a trusted name in
        engineering consultancy.
      </p>
      <div class="our-journey__content-img">
        <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
      </div>
    </div>
  </section>

  <section class="container values-wrapper">
    <div class="values-header">
      <h4 class="section-title">Our Purpose, Principles & Path Forward</h4>
      <p class="section-subtitle">
        Driven by a mission to deliver innovative, client-centric solutions
        while upholding values of integrity, transparency, and excellence.
      </p>
    </div>
    <div class="values-content">
      <div class="values-list-wrapper">
        <div class="values-list">
          <div class="values-icon">
            <span>icon</span>
          </div>
          <div>
            <h5 class="values-title">Mission</h5>
            <p class="value-subtitle">
              Our mission is to provide innovative and effective solutions to
              our clients, driving their success and growth. We prioritize
              integrity, excellence, and collaboration to deliver outstanding
              consultancy services.
            </p>
          </div>
        </div>
        <div class="values-list">
          <div class="values-icon">
            <span>icon</span>
          </div>
          <div>
            <h5 class="values-title">Vision</h5>
            <p class="value-subtitle">
              We aspire to be the leading consultancy firm known for our
              commitment to helping businesses achieve sustainable and impactful
              results. Our vision encompasses a proactive and adaptive approach
              to changing business landscapes.
            </p>
          </div>
        </div>
        <div class="values-list">
          <div class="values-icon">
            <span>icon</span>
          </div>
          <div>
            <h5 class="values-title">Values</h5>
            <p class="value-subtitle">
              Our core values include client satisfaction, continuous
              improvement, transparency, and fostering a culture of mutual
              respect. We aim to uphold these values in every aspect of our
              work.
            </p>
          </div>
        </div>

        <!-- <div class="values-list">
          <div class="values-icon">
            <span>icon</span>
          </div>
          <div>
            <h5 class="values-title">Holistic Methodology</h5>
            <p class="value-subtitle">
              We employ a holistic approach that integrates data-driven
              insights, innovative strategies, and collaborative engagement to
              deliver impactful solutions. This ensures a comprehensive
              understanding of our clients' needs.
            </p>
          </div>
        </div>
        <div class="values-list">
          <div class="values-icon">
            <span>icon</span>
          </div>
          <div>
            <h5 class="values-title">Agile Implementation</h5>
            <p class="value-subtitle">
              Embracing agile methodologies, we adapt quickly to changing
              business environments, enabling swift and effective implementation
              of strategies to drive positive outcomes for our clients.
            </p>
          </div>
        </div>
        <div class="values-list">
          <div class="values-icon">
            <span>icon</span>
          </div>
          <div>
            <h5 class="values-title">Client-Centric Focus</h5>
            <p class="value-subtitle">
              Our client-centric focus revolves around building long-term
              relationships, understanding their unique challenges, and
              delivering tailored solutions that align with their objectives and
              vision.
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <section class="teams-wrapper">
    <div class="container">
      <div class="teams-header">
        <h4 class="section-title">Meet Our Team</h4>
        <p class="section-subtitle">
          Led by a team of experienced civil engineers, our strength lies in
          technical depth and collaborative thinking.
        </p>
      </div>

      <div class="teams-card-wrapper">
        <div class="teams-card">
          <h5 class="teams-title">Zaid Shaikh</h5>
          <p class="teams-alias">BE (Civil)</p>
          <div class="teams-card__contact">
            <span> Mobile No. </span>
            <a href="tel:+">9833868829</a>
          </div>
          <p class="teams-card__desc">
            He possesses strong technical and communication skills, enabling him
            to effectively manage business. operations. His experience includes
            work on diverse projects such as FOB, culverts with spans of upto 6
            meters, Oil & Gas structures, as well as residential and commercial
            buildings. He is well versed with the NDT and SDT test which have
            been used recently in the construction industry according to recent
            IS codes
          </p>
        </div>

        <div class="teams-card">
          <h5 class="teams-title">Vikas Madale</h5>
          <p class="teams-alias">BE (Civil)</p>
          <div class="teams-card__contact">
            <span> Mobile No. </span>
            <a href="tel:+">8652001610</a>
          </div>
          <p class="teams-card__desc">
            In short time period of professional experience in Civil &
            Structural Engineering he has been involved in many prestigious
            projects. He has experience in the structural repairs (PMC) of the
            commercial and residential building. Expertise in Non-destructive
            testing techniques. He has worked on various new construction/
            repairs / strengthening / waterproofing projects that have given him
            state of Art in providing the services with International Quality
            Standards.
          </p>
        </div>

        <div class="teams-card">
          <h5 class="teams-title">Saad Memon</h5>
          <p class="teams-alias">BE (Civil)</p>
          <div class="teams-card__contact">
            <span> Mobile No. </span>
            <a href="tel:+">7506130188</a>
          </div>
          <p class="teams-card__desc">
            Driven by a deep passion for structural engineering, he has
            successfully contributed to a wide range of projects including
            residential, commercial, and industrial projects
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="our-approach__wrapper container">
    <div class="our-approach__header">
      <h4 class="section-title">Our Approach</h4>
      <p class="section-subtitle">
        Our agile, holistic, and client-focused methodology ensures project
        accuracy, speed, and long-term durability.
      </p>
    </div>

    <div class="our-approach__content">
      <div class="our-approach__list-wrap">
        <div class="our-approach__list-item">
          <div class="our-approach__list-icon">
            <i>icon</i>
          </div>
          <div class="our-approach__list-content">
            <h5>Holistic Methodology</h5>
            <p>
              We employ a holistic approach that integrates data-driven
              insights, innovative strategies, and collaborative engagement to
              deliver impactful solutions. This ensures a comprehensive
              understanding of our clients' needs.
            </p>
          </div>
        </div>

        <div class="our-approach__list-item">
          <div class="our-approach__list-icon">
            <i>icon</i>
          </div>
          <div class="our-approach__list-content">
            <h5>Agile Implementation</h5>
            <p>
              Embracing agile methodologies, we adapt quickly to changing
              business environments, enabling swift and effective implementation
              of strategies to drive positive outcomes for our clients
            </p>
          </div>
        </div>

        <div class="our-approach__list-item">
          <div class="our-approach__list-icon">
            <i>icon</i>
          </div>
          <div class="our-approach__list-content">
            <h5>Client-Centric Focus</h5>
            <p>
              Our client-centric focus revolves around building long-term
              relationships, understanding their unique challenges, and
              delivering tailored solutions that align with their objectives and
              vision.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
