---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="container">
    <div class="common-hero__banner">
      <span class="common-hero__mark">Our Projects</span>
      <h1 class="common-hero__title">Our Portfolio and projects</h1>
      <p class="common-hero__subtitle">Go through our projects and varieties</p>
    </div>
  </section>
</Layout>
