---
import Layout from "../../layouts/Layout.astro";
import "../../styles/projects.css";
---

<Layout>
  <section class="container">
    <div class="common-hero__banner">
      <span class="common-hero__mark">Our Projects</span>
      <h1 class="common-hero__title">Our Portfolio and projects</h1>
      <p class="common-hero__subtitle">Go through our projects and varieties</p>
    </div>

    <div class="projects-recent__wrapper top-level">
      <div class="projects-recent__header">
        <h4>Recent Projects</h4>
      </div>
      <div class="projects-recent__cardWrapper">
        <div class="projects-recent__card">
          <div class="projects-recent__card-img">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
          </div>
          <div class="projects-recent__content">
            <h5 class="projects-recent__card-title">OBEROI GARDEN CITY - 3</h5>
            <div class="projects-recent__pills-wrap">
              <span>BBS</span>
              <span>Concrete Quantity Estimation</span>
            </div>
          </div>
        </div>
        <div class="projects-recent__card">
          <div class="projects-recent__card-img">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
          </div>
          <div class="projects-recent__content">
            <h5 class="projects-recent__card-title">OBEROI GARDEN CITY - 3</h5>
            <div class="projects-recent__pills-wrap">
              <span>BBS</span>
              <span>Concrete Quantity Estimation</span>
            </div>
          </div>
        </div>
        <div class="projects-recent__card">
          <div class="projects-recent__card-img">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
          </div>
          <div class="projects-recent__content">
            <h5 class="projects-recent__card-title">OBEROI GARDEN CITY - 3</h5>
            <div class="projects-recent__pills-wrap">
              <span>BBS</span>
              <span>Concrete Quantity Estimation</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="projects-recent__wrapper projects-all__wrapper">
      <div class="projects-recent__header">
        <h4>All Projects</h4>
      </div>
      <div class="projects-recent__cardWrapper">
        <div class="projects-recent__card">
          <div class="projects-recent__card-img">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
          </div>
          <div class="projects-recent__content">
            <h5 class="projects-recent__card-title">OBEROI GARDEN CITY - 3</h5>
            <div class="projects-recent__pills-wrap">
              <span>BBS</span>
              <span>Concrete Quantity Estimation</span>
            </div>
          </div>
        </div>
        <div class="projects-recent__card">
          <div class="projects-recent__card-img">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
          </div>
          <div class="projects-recent__content">
            <h5 class="projects-recent__card-title">OBEROI GARDEN CITY - 3</h5>
            <div class="projects-recent__pills-wrap">
              <span>BBS</span>
              <span>Concrete Quantity Estimation</span>
            </div>
          </div>
        </div>
        <div class="projects-recent__card">
          <div class="projects-recent__card-img">
            <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
          </div>
          <div class="projects-recent__content">
            <h5 class="projects-recent__card-title">OBEROI GARDEN CITY - 3</h5>
            <div class="projects-recent__pills-wrap">
              <span>BBS</span>
              <span>Concrete Quantity Estimation</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
