---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="container">
    <div class="common-hero__banner">
      <span class="common-hero__mark">Our Projects</span>
      <h1 class="common-hero__title">Our Portfolio and projects</h1>
      <p class="common-hero__subtitle">Go through our projects and varieties</p>
    </div>

    <div class="projects-recent__wrapper">
      <div class="projects-recent__header">
        <h4>Recent blog posts</h4>
      </div>
      <div class="projects-recent__cardWrapper">
        <div class="projects-recent__card">
          <div class="projects-recent__card-img">
            <img src="" alt="" />
          </div>
          <div class="projects-recent__card">
            <h5 class="projects-recent__card-title">
              OBEROI GARDEN CITY - 3
            </h5>
            <div>
              BBS & Concrete Quantity Estimation
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
