/* .footer-wrapper {
  padding: 30px 0;
  border-top: 1px solid #e1e1e1;
}

.footer-nav-wrap ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0;
  gap: 12px;
}

.footer-nav-wrap ul li {
  font-size: 16px;
  font-weight: 500;
}

.footer-mark {
  font-size: 15px;
  font-weight: 400;
}

@media (min-width: 650px) {
  .footer-wrapper {
    padding: 0;
  }

  .footer-wrapper section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-nav-wrap ul {
    display: flex;
    gap: 20px;
  }
} */

.footer-wrapper {
  padding-top: var(--spacing-6xl);
  padding-bottom: var(--spacing-6xl);
  border-top: 1px solid #e1e1e1;
}

.footer-brand__wrap {
  margin-bottom: 2rem;
}

.footer-brand__wrap .nav-brand {
  justify-content: flex-start;
}

.footer-link__wrap {
  padding-bottom: var(--spacing-4xl);
  margin-bottom: var(--spacing-4xl);
  border-bottom: 1px solid #e5e5e5;
}

.footer-link__wrap ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  gap: 0.75rem;
  color: #535862;
  font-weight: 500;
}

.footer-privacy__wrap .footer-privacy__links {
  display: flex;
  gap: 1rem;
  font-size: 15px;
  color: #717680;
  margin-bottom: 1rem;
}

.footer-privacy__reserved {
  font-size: 15px;
  color: #717680;
}

@media (min-width: 650px) {
  .footer-brand__wrap .nav-brand {
    justify-content: center;
  }

  .footer-link__wrap ul {
    /* display: grid; */
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    /* grid-template-rows: 1fr */
    /* gap: 0.75rem; */
    /* color: #535862; */
    /* font-weight: 500; */
  }

  .footer-privacy__wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer-privacy__reserved {
    order: -1;
  }
}
