---
import Layout from "../../layouts/Layout.astro";
import "./our-services.css";
---

<Layout>
  <section class="container">
    <div class="common-hero__banner">
      <span class="common-hero__mark">Our Projects</span>
      <h1 class="common-hero__title">Our Portfolio and projects</h1>
      <p class="common-hero__subtitle">Go through our projects and varieties</p>
    </div>
  </section>

  <section class="container">
    <div class="we-work__wrapper">
      <div class="we-work__header">
        <h4 class="section-title">How we work</h4>
        <p class="section-subtitle">
          Our Process: Structured for Precision, Built for Results
        </p>
      </div>

      <div class="we-work_content">
        <div class="we-work__card-wrapper">
          <div class="we-work__card">
            <h5 class="we-work__card-title">
              Step 1: Consultation & Requirement Analysis
            </h5>
            <p class="we-work__card-subtitle">
              We begin by assessing your goals, project scope, technical
              constraints, and compliance needs to build a clear execution
              roadmap.
            </p>
          </div>
          <div class="we-work__card">
            <h5 class="we-work__card-title">
              Step 2: Tailored Engineering Solutions
            </h5>
            <p class="we-work__card-subtitle">
              Our engineers create custom structural designs, audit frameworks,
              or estimation models using advanced tools and IS code guidelines.
            </p>
          </div>
          <div class="we-work__card">
            <h5 class="we-work__card-title">Step 3: Review & Collaboration</h5>
            <p class="we-work__card-subtitle">
              We work closely with your team to review deliverables, integrate
              feedback, and align with on-ground execution strategies.
            </p>
          </div>
          <div class="we-work__card">
            <h5 class="we-work__card-title">Step 4: Execution & Delivery</h5>
            <p class="we-work__card-subtitle">
              Final deliverables including drawings, BBS, mix designs, or audit
              reports are submitted in a structured, ready-to-use format.
            </p>
          </div>
          <div class="we-work__card">
            <h5 class="we-work__card-title">Step 5: Ongoing Support</h5>
            <p class="we-work__card-subtitle">
              Need help during implementation? Our team is available for
              clarification, site coordination, or adjustments as required.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="enquiry-section">
      <div class="enquiry-section__header">
        <h4 class="enquiry-section__title">Any Enquiries or Questions?</h4>
        <p class="enquiry-section__subtitle">
          Give us a call or mail us your details we will get back to you!
        </p>
      </div>

      <div class="enquiry-section__btn-wrap">
        <button class="btn btn-primary">Contact Us</button>
        <button class="btn btn-outline">Know More</button>
      </div>
    </div>
  </section>
</Layout>
